
.inputBox3{
    display: block;
    margin-top: 10px;
    margin: 25px;
    font-size: 18px;
    padding: 10px;
    color: rgb(0, 1, 2);
    border-radius: 10px;
    width: 300px;
    background-color: #010000;
    border: none;
    outline: none;
   
}
#btn2{
    position: absolute;
    right: 210px;
    top: 9px;
    width: 100px;
    font-size: large;
    height: 40px;
    padding: 15px;
    font-size: 18px;
    text-transform: capitalize;
    background-color: rgb(89, 154, 154);
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
 }
 #p{
    max-width:50%;
    min-width:150px;
    padding:8px;
    margin-bottom: 10px;
    margin-left: 50%;
    font-size: large;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    float:  left;
    clear: left;
 }
 #btn3{
   border: none;
   margin-top: 22.95px;
   border-radius: 10px;
   width: 50px;
   height: 40px;
    cursor: pointer;
 }
 .msgbox{
    margin-top: -200px;
 }
 .sndmsg{
   display: flex;
   margin-left: 36%;
    margin-top: 41%;
 }
#msg1{
    max-width:50%;
    min-width:150px;
    display: none;
    padding:8px;
    margin-bottom: 20px;
    margin-left: 40%;
    font-size: large;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    float:  left;
    clear: left;
}
#msg2{
    max-width:50%;
    min-width:150px;
    padding:8px;
    margin-bottom: 20px;
    margin-left: 40%;
    font-size: large;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    float:  left;
    clear: left;
}


