
#firstm2{
    position: absolute;
  
    left: 40%;
    bottom: 87%;
    width: 100px;
    font-size: large;
    height: 20px;
    padding: 15px;
    font-size: 18px;
    text-transform: capitalize;
    background-color: rgb(246, 246, 246);
    font-weight: bold;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none;
}
.inputBox3{
    display: block;
    position: absolute;
    top: 90%;
    right:40%;
    margin: 25px;
    font-size: 18px;
    padding: 10px;
    color: rgb(0, 1, 2);
    border-radius: 10px;
    width: 300px;
    background-color: #010000;
    border: none;
    outline: none;
    z-index: -1;
}
#btn2{
    position: absolute;
    right: 210px;
    top: 9px;
    width: 100px;
    font-size: large;
    height: 40px;
    padding: 15px;
    font-size: 18px;
    text-transform: capitalize;
    background-color: rgb(89, 154, 154);
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
 }
 #p{
    position: absolute;
    left: 40%;
    bottom: 35%;
    width: 250px;
    font-size: large;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    text-transform: capitalize;
    background-color: rgb(246, 246, 246);
    font-weight: bold;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none;
 }
 #btn3{
    position: absolute;
    left: 56%;
    bottom: 22px;
   border: none;
    cursor: pointer;
 }
#firstm4{
    position: absolute;
    display: none;
    left: 40%;
    bottom: 75%;
    width: 250px;
    font-size: large;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    text-transform: capitalize;
    background-color: rgb(246, 246, 246);
    font-weight: bold;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none;
}

#firstm6{
    position: absolute;
    display: none;
    left: 40%;
    bottom: 60%;
    width: 250px;
    font-size: large;
    height: 80px;
    padding: 15px;
    font-size: 18px;
    text-transform: capitalize;
    background-color: rgb(246, 246, 246);
    font-weight: bold;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none;
}

#firstm8{
    position: absolute;
    display: none;
    left: 40%;
    bottom: 51%;
    width: 100px;
    font-size: large;
    height: 20px;
    padding: 15px;
    font-size: 18px;
    text-transform: capitalize;
    background-color: rgb(246, 246, 246);
    font-weight: bold;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none;
}
#msg1{
    
    position: absolute;
    color: aliceblue;
    left: 41%;
    bottom: 89%; 
}
#msg2{
    display: none;
    position: absolute;
    color: aliceblue;
    left: 41%;
    bottom: 78%; 
}
#msg3{
    display: none;
    position: absolute;
    color: aliceblue;
    left: 41%;
    bottom: 62.57%; 
}
#msg4{
    display: none;
    position: absolute;
    color: aliceblue;
    left: 41%;
    bottom: 53%; 
}
