#hdr{
    position: absolute;
    top: 1%;
    right: 1%;
}
#btn{
   width: 180px;
   font-size: large;
   height: 40px;
   padding: 15px;
   font-size: 18px;
   text-transform: capitalize;
   background-color: rgb(96, 189, 189);
   font-weight: bold;
   border-radius: 10px;
   outline: none;
   border: none;
   cursor: pointer;
}
.base {
    background: #b86363;
    display: inline;
    height: 200px;
    position: absolute;
    right: -2px;
    border-radius: 10px;
    bottom: -210px;
    width: 250px;
    
  }
  .trangle{
    width: -2%; 
    height: -2%; 
    position: absolute;
    top: 40px;
    right: 10px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #b86363;
  }
.colorpickr{
    position: absolute;
    right: 10px;
    top:600%;
    right: 100%;
    cursor: pointer;
}
.svg_icons {
    transform: scale(1.5);
    position: absolute;
    right: 4%;
    top: 15%;
  }
  .txt{
    position:absolute;
    right: 19%;
    top: 19%;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
     
  }
  .list{
    align-items: center;
    display: flex;
    -webkit-box-align: center;
    margin-top: 3%;
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
 
  .list:hover {
    background-color:#9da9ca;
    transition: 0.7s;
   }
  .shift{
    position:absolute;
    left: 10px;
  }
  .li{
    display: inline;
  }
  .space{
   display:inline-block;
  }
  .x{
    margin: 10px;
    background: #ffffff;
    display: inline-block;
    height: 21px;
    border-radius: 100px;
    border: solid;
    border-color: black;
    width: 21px;
  }
  .x1{
    margin: 3px;
  }
  .x11{
    margin: 3px;
    position:absolute;
    right: 243px;
    width: 2px;
  }
  .xx{
    height: 100px;
    position:absolute;
    bottom: 10%;
    left: 26%;
    width: 26px;
    height: 26px;
    border: solid;
    border-color: black;
    border-radius: 100px;
  }
  .xx1{
    height: 100px;
    position:absolute;
    bottom: 10%;
    left: 45%;
    width: 26px;
    height: 26px;
    border: solid;
    border-color: black;
    border-radius: 100px;
  }
    .xx2{
    height: 100px;
    position:absolute;
    bottom: 10%;
    left: 64%;
    width: 26px;
    height: 26px;
    border: solid;
    border-color: black;
    border-radius: 100px;
  }
  .xx3{
    height: 100px;
    position:absolute;
    bottom: 10%;
    left: 82%;
    width: 26px;
    height: 26px;
    border: solid;
    border-color: black;
    border-radius: 100px;
  }
.colorpickr1{
    position: absolute;
   
    top:600%;
    right: 24%;
    cursor: pointer;
}
.colorpickr2{
  position: absolute;

  top:600%;
  right: 48%;
  cursor: pointer;
}
.colorpickr3{
  position: absolute;

  top:600%;
  right: 48%;
  cursor: pointer;
}