#btnl{
    position: absolute;
    top: 51%;
    right:40.33%;
    width: 17%;
    display: inline;
    height: 5%;
   font-size: large;
   background-color: rgb(27, 174, 194);
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
 }
 

 .inputBox1{
    display: block;
    position: absolute;
    top: 40%;
    right:40%;
    height: 5%;
    font-size: 18px;
   
    color: rgb(6, 6, 6);
    border-radius: 10px;
    width: 17%;
    background-color: #68cca7;
    border: none;
    outline: none;
}
.inputBox2{
    display: block;
    position: absolute;
    top: 30%;
    right:40%;
    height: 5%;
    font-size: 18px;
   
    color: rgb(13, 14, 15);
    border-radius: 10px;
    width: 17%;
    background-color:#68cca7 ;
    border: none;
    outline: none;
}